@import "../../assets/styles/mixins";

.WhatIDo {
  @include tablet-mobile {
    h1 {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .textContent {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
    align-self: flex-start;
    @include tablet-mobile {
      margin-top: 5rem;
    }

    p {
      line-height: 2;
      @include tablet-mobile {
        text-align: center;
      }
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @include tablet-mobile {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(60rem, 1fr));
      grid-gap: 5rem;
    }

    @include mobile {
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }

    & > * {
      flex: 1;
    }
  }
  .cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 3rem;
    margin-top: 2rem;

    @include tablet-mobile {
      width: 100%;
    }
  }

  .card {
    padding: 1rem 2rem;
    min-height: 30rem;
    border-radius: 0.4rem;
    background-color: #c4c4c4;
    text-align: center;

    &:not(:first-child) {
      padding-top: 2.5rem;
    }

    @include mobile {
      border-radius: 0;
    }

    .techStacks {
      width: 100%;

      .techStack {
        display: inline-block;
        padding: 0.5rem 1rem;
        margin: 0.2rem 0;
        background-color: var(--color-text-dark);
        border-radius: 4px;
        &:not(:last-child) {
          margin-right: 0.5rem;
        }
      }
    }

    &Title {
      color: var(--color-text-dark);
      font-size: 2.4rem;
    }

    &Description {
      color: var(--color-text-dark);
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
      line-height: 1.5;
      text-align: center;
    }
  }
}
