@import "../../assets/styles/mixins";

.About {
  background-color: var(--color-tertiary);
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;

    @include mobile-l {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

  .textContent {
    @include mobile-l {
      margin-bottom: 5rem !important;
    }
  }

  .professionalSummary {
    max-width: 50rem;
    line-height: 2;
    font-size: 1.8rem;

    @include mobile-l {
      text-align: justify;
      padding: 0 2rem;
    }
  }

  .imageContent {
    min-width: 50rem;
    min-height: 50rem;
    border-radius: 50%;
    display: flex;

    @include tablet-mobile {
      min-width: 40rem;
      min-height: 40rem;
    }

    @include mobile-l {
      min-width: 30rem;
      min-height: 30rem;
    }

    position: relative;
    cursor: pointer;
    overflow: hidden;

    .imageBackgroundLayer1 {
      background-color: var(--color-grey-primary);
      flex: 1;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .imageBackgroundLayer2 {
      width: 50%;
      height: 50%;
      background: var(--color-secondary);
      border-radius: 50%;

      img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        max-height: 50vh;
        transition: all ease-in-out 0.4s;
        border-radius: 30%;

        &:hover {
          transform: translateX(-50%) translateY(30%) scale(1.5);
        }
      }
    }
  }
}
