@import "../../assets/styles/colors";
@import "../../assets/styles/mixins";

.Navigation {
  position: sticky;
  display: grid;
  top: 0;
  grid-template-columns: 25rem 1fr 20rem;
  background-color: $color-tertiary;
  padding: 0 15rem;
  height: fit-content;
  min-height: 9rem;
  width: 100%;
  z-index: 100;

  @media screen and (max-width: 1440px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    display: none;
  }

  @include tablet-mobile {
    padding: 0 3rem;
    height: fit-content;
  }

  @include mobile-l {
    padding: 0 5rem;
    flex-direction: column;
    height: 12rem;
    display: flex;
  }

  .Logo {
    font-family: Norican;
    font-style: normal;
    font-weight: normal;
    font-size: 6.4rem;
    line-height: 1.1;
    margin-right: 2rem;

    @include mobile-l {
      margin-right: auto;
      margin-left: auto;
    }
  }

  .NavigationMenu {
    display: flex;
    list-style-type: none;
    justify-content: center;

    @media screen and (max-width: 750px) {
      flex-direction: column;
      width: 100%;
      display: none;
    }

    .MenuItem {
      display: inline-block;
      padding: 1rem 0;
      margin: 1rem 0;

      &:not(:last-child) {
        margin-right: 4rem;
      }

      box-sizing: border-box;

      cursor: pointer;
      border: 5px solid transparent;
      border-left: none;
      border-right: none;
      white-space: nowrap;
      min-width: 9rem;
      min-height: 4.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all ease-in-out 0.3s;

      @include mobile-l {
        margin: 1rem 0;
        margin-right: 0 !important;
      }

      &:hover,
      &:active {
        border-bottom: 5px solid $color-secondary;
        position: relative;
        background-color: darken($color: $color-tertiary, $amount: 0.6);
        font-weight: bold;
      }
    }
  }
}
